//colors
$blue: #0099ff;
$orange: #ff5500;
$black: #212121;
$white: #fff;

//font-size
$fs-1e: 1em;
$fs-3e: 3em;

$fs-30p: 30px;

//font-weight
$fwb: bold;

//text-transform
$ttu: uppercase;

//padding
$p5: 5px;

$pv-6e: 6em;

//margin
$mL10: 10px;
